@media print {
    @page {
        margin: 0;
        padding: 0;
    }

    body * {
        visibility: hidden;
    }

    #invoice-print,
    #invoice-print * {
        visibility: visible;
    }

    #invoice-print {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
}